html
	head
		link(rel="manifest" href="/manifest.json")
		meta(name="theme-color" content="green")
		meta(name="google-site-verification" content="vskabC2K_gNi0VdlC_Q00-LFDmjt0RU2mGxAAnhehXw")
		script(src="https://code.jquery.com/jquery-3.3.1.min.js")
		link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous")
		link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous")
		script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous")
		link(rel="stylesheet" href="/css/common.css")
		meta(property="og:url" content="http://midori.fun/block/1")
		meta(property="og:type" content="book")
		if(language == "ja")
			meta(name="description" content="ブロックチェーンを題材とした女の子が活躍するファンタジー漫画です。")
			meta(property="og:description" content="ブロックチェーンを題材とした女の子が活躍するファンタジー漫画です。")
		else
			meta(name="description" content="This is the story of a young girl who goes on fantasy adventures while teaching the readers about cryptocurrency and blockchains.")
			meta(property="og:description" content="This is the story of a young girl who goes on fantasy adventures while teaching the readers about cryptocurrency and blockchains.")
		//- meta(property="og:image" content=og_image)
		meta(property="og:image" content="https://midori.fun/img/blocks/00001/ja/10000.jpg")
		link(rel="icon" type="image/png" href="/img/favicon.ico" sizes="32x32")

		//- Tag Manager
		script.
			(function(w,d,s,l,i){w[l]=w[l]||[];
			w[l].push({'gtm.start':new Date().getTime(),event:'gtm.js'});
			var f=d.getElementsByTagName(s)[0],j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src='https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
			})(window,document,'script','dataLayer','GTM-N82HB3H');

		//- Analytics
		script(async, src="https://www.googletagmanager.com/gtag/js?id=UA-123676187-1")
		script.
			let t_id;
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag("js", new Date());

			gtag("config", "UA-123676187-1");
			t_id = "@fkazuja";
			document.write('<meta name="twitter:site" content="' + t_id +'">');

		meta(name="twitter:card" content="summary")
	body
		block content
	noscript
		iframe(src="https://www.googletagmanager.com/ns.html?id=GTM-N82HB3H" height="0" width="0" style="display:none;visibility:hidden")
