html
	head
		script.
			let language = (window.navigator.languages && window.navigator.languages[0]) || window.navigator.language || window.navigator.userLanguage || window.navigator.browserLanguage;
		script(src="https://code.jquery.com/jquery-3.3.1.min.js")
		link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous")
		link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous")
		script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous")
		link(rel="stylesheet" href="/css/common.css")
		meta(property="og:url" content="http://midori.fun/block/1")
		meta(property="og:type" content="book")
		meta(name="description" content="ブロックチェーンを題材とした女の子が活躍するファンタジー漫画です。")
		meta(property="og:description" content="ブロックチェーンを題材とした女の子が活躍するファンタジー漫画です。")
		meta(property="og:image" content=og_image)
		link(rel="icon" type="image/png" href="/img/favicon.ico" sizes="32x32")
		script.
			let t_id;
			if(language === "ja-JP") {
				let ga = '<script async src="https://www.googletagmanager.com/gtag/js?id=UA-118046550-1"></scr' + 'ipt><script>window.dataLayer = window.dataLayer || [];function gtag(){dataLayer.push(arguments);}gtag("js", new Date());gtag("config", "UA-118046550-1");</scr' + 'ipt>';
				t_id = "@fkazuja";
				document.write('<meta name="twitter:site" content="' + t_id +'">');
				document.write(ga);
			} else {
				let ga = '<script async src="https://www.googletagmanager.com/gtag/js?id=UA-118046550-2"></scr' + 'ipt><script>window.dataLayer = window.dataLayer || [];function gtag(){dataLayer.push(arguments);}gtag("js", new Date());gtag("config", "UA-118046550-2");</scr' + 'ipt>';
				t_id = "@fkazuen";
				document.write('<meta name="twitter:site" content="' + t_id +'">');
				document.write(ga);
			}
		meta(name="twitter:card" content="summary")
	body
		block content