extends layout.pug

block content
	meta(property="og:title" content="Green Chain " + id)
	title Green Chain #{id}
	link(rel="stylesheet" href="/css/read.css")

	script.
		$(function() {
			$.getScript("/js/viewer.js");
			$.getScript("/js/scroll.js");
			$.getScript("/js/sns.js");
			$.getScript("/js/lazy_load.js");
		});

	body
		.language
			if(language == "ja")
				span.en
					a(href="./en") Read in English
			else
				span.jp 
					a(href="./ja") 日本語で読む

		.read_manga
			each url, index in img_urls
				.not_displayed(id="page_"+index)
					if(index == img_urls.length - 1)
						a(href="#footer")
							img(data=url)
					else
						a(href="#page_"+(index+1))
							img(data=url)
			if(language == "en")
				#credit Translated by: 
					a(href="http://www.thunderwolflives.com/" target="_blank") Andrew Bush
		#footer
			hr
			.sns
				- let text = "Green Chain, block 1";
				.twitter
					a(href="" target="_blank" title="Share on Twitter")
						img(src="/img/twitter.png" alt="twitter")
				.facebook
					a(href="" target="_blank" title="Share on Facebook")
						img(src="/img/facebook.png" alt="facebook")
			.to_top
				a(href="/") Back to top page