extends layout.pug

block content
	meta(property="og:title" content="Green Chain " + id)
	title Green Chain #{id}

	link(rel="stylesheet" href="/css/read.css")

	script.
		$(function() {
			$.getScript("/js/viewer.js");
			$.getScript("/js/scroll.js");
			$.getScript("/js/sns.js");
			$.getScript("/js/lazy_load.js");
		});

	body
		.read_manga
			each url, index in img_urls
				.not_displayed(id="page_"+index)
					if(index == img_urls.length - 1)
						img(data=url)
					else
						a(href="#page_"+(index+1))
							img(data=url)
		#footer
			hr
			.sns
				- let text = "Green Chain, block 1";
				.twitter
					a(href="" target="_blank" title="Share on Twitter")
						img(src="/img/twitter.png" alt="twitter")
				.facebook
					a(href="" target="_blank" title="Share on Facebook")
						img(src="/img/facebook.png" alt="facebook")
			.to_top
				a(href="/") Back to top page