h1 {
  font-size: 6rem;
}
h2 {
  font-size: 5rem;
}
h3 {
  font-size: 4rem;
}
h4 {
  font-size: 3rem;
}
h5 {
  font-size: 2rem;
}
h6 {
  font-size: 1rem;
}


body {
	font-size: 2.8rem;
	background-color: #e6ffe6
}

#footer {
	margin-left: 50px;
	bottom: 30px;
	width: 90%;
}

.read_manga {
	text-align: center;
}

.twitter, .facebook {
	visibility: hidden;
	text-align: center;
}

#twitter-widget-1 {
	margin-right: 10px;
}

.facebook {
	margin-top: 5px;
	margin-bottom: 10px;
}

.fb-like {
	margin-right: 10px;
}

