h1 {
  font-size: 6rem;
}
h2 {
  font-size: 5rem;
}
h3 {
  font-size: 4rem;
}
h4 {
  font-size: 3rem;
}
h5 {
  font-size: 2rem;
}
h6 {
  font-size: 1rem;
}

body {
	font-size: 3rem;
	background-color: #e6ffe6
}

a:link {
	color: #068900
}
a:visited {
	color: #015400
}
a:hover {
	color: #068900
}
a:active {
	color: #068900
}

#twitter-widget-1 {
	margin-right: 10px;
}

.facebook {
	margin-top: 5px;
	margin-bottom: 10px;
}

.fb-like {
	margin-right: 10px;
}