#footer {
	margin-bottom: 3vh;
}

.switcher {
	margin-top: 5vh;
}

.language {
	width: 30%;
	font-size: 5vw;
	margin-top: 1vw;
}

.latest {
	color: white !important;
	width: 50%;
	font-size: 7vw;
	margin-top: 1vw;
}
