.language {
	text-align: center;
}

.language .ja {
	margin-right: 20px;
}

.language .en {
	margin-left: 20px;
}

.twitter {
	display: inline;
	margin-right: 5px;
}

.facebook {
	display: inline;
	margin-left: 5px;
}

.twitter img, .facebook img {
	width: 50px;
}

#credit {
	display: none;
	text-align: center;
}

#footer {
	margin: 0 auto;
	text-align: center;
	display: none;
}