extends ../layout.pug

block content
	title Green Chain
	meta(property="og:title" content="Green Chain")

	script(src="https://cdn.onesignal.com/sdks/OneSignalSDK.js")
	script.
		var OneSignal = window.OneSignal || []
		OneSignal.push(function() {
			OneSignal.init({
				appId: "073ae75c-c906-460b-9c29-e7417b6379e6"
			})
		})


	link(rel="stylesheet" href="/css/index.css")
	.container
		.row
			.col-md-12
				h2 Green Chain
		hr
		.row
			.col-md-12
				.latest
					h3 Click to read manga
					a.latest.btn.btn-success(href="./block/2/en") Episode 2
				.old
					h4 Old episodes
					a.btn.btn-success(href="./block/1/en") Episode 1
					//- button.first.btn.btn-success(type="button") Block 1
					//- a(href="/block/2") block 1, block 2, block 3...
				.notify
					.onesignal-customlink-container
			.switcher.col-md-12
				h3 言語切替
				a.language.btn.btn-default(href="./ja") 日本語
		.row#footer
				hr
				.donation
					h4 Donation
					.bitcoin_addr bitcoin: 13Fi6bpLoobRe5f249R53KKnndQnF7sBLP
					.ethereum_addr ethereum: 0xc914adef13fe9ab183807e68916e4e8275ddccf0
				a(href="mailto:info@midori.fun") contact author
