extends ../layout.pug

block content
	title Green Chain
	meta(property="og:title" content="Green Chain")

	link(rel="stylesheet" href="/css/index.css")
	.container
		.row
			.col-md-12
				h2 Green Chain
		hr
		.row
			.col-md-12
				h3 Click to read manga
				a.latest.btn.btn-success(href="./block/1/en") Block 1
				//- button.first.btn.btn-success(type="button") Block 1
				//- a(href="/block/2") block 1, block 2, block 3...
			.switcher.col-md-12
				h3 言語切替
				a.language.btn.btn-default(href="./ja") 日本語
		.row#footer
				hr
				.donation
					h4 Donation
					.bitcoin_addr bitcoin: 13Fi6bpLoobRe5f249R53KKnndQnF7sBLP
					.ethereum_addr ethereum: 0xc914adef13fe9ab183807e68916e4e8275ddccf0
				a(href="mailto:info@midori.fun") contact author
